.yearGroup{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 1em; */
}

.monthGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid yellow; */
    /* row-gap: 1em; */
}

.eventItem{
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: center;
    column-gap: 1em;
    width: 50%;
    /* border: 1px green solid; */
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgb(31, 23, 139);
    border-radius: 1%;
}

.eventItemDes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    text-align: left;
}

.eventItem a{
    text-decoration: none;
    color: var(--font-color-main);
    background: var(--bg-color-1);
    padding: 1em;
    border-radius: 2%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.eventItem img{
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .eventItem{
        grid-template-columns: 100%;
        row-gap: 1em;
        width: 100%;
    }

}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    .eventItem{
        width: 80%;
    }

}