.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-color-3);
    padding: 0.5em 0;
    display: flex;
    column-gap: 0.5em;
    justify-content: center;
    margin: 10em 0 0 0;
}