.form{
  /* border: yellow solid 1px; */
  width: 60%;
  display: flex;
  justify-content: center;
}

.form iframe{
  min-height: 900px;
  width: 100%;
  min-width: 320px;
}

@media screen and (max-width: 768px) {
  .form{
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .form iframe{
    width: 100%;
    min-width: 320px;
    min-height: 400px;
  }
}
 