.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  min-height: 100vh;
}

.main h1{
  height: 0px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1em;
  width: 50%;
}

.form textarea{
  padding: 1em;
}

.form input{
  padding: 0.5em;
}

.form button{
  padding: 1em;
  width: 50%;
}

.formSection{
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 100%;
}

@media screen and (max-width: 768px){
  .form{
    width: 100%
  }
}

