.container{
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    /* border: 1px red solid; */
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5em;
    padding: 1em 1em 3em 1em;
    /* border: 1px yellow solid; */
    animation-name: fadein;
    animation-duration: var(--animation-duration-default);
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

