.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    row-gap: 1.5em;
    /* border: 1px green solid; */
}

.memberGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 1em;
    /* border: 1px solid red; */
}

.members{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    column-gap: 3%;
    row-gap: 1.5em;
    width: 100%;
    /* border: 1px solid orange; */
}

.memberItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.5em;
}

.memberItem img{
    display: block;
    max-height: 150px;
    width: auto;
    border-radius: 10%;
}

@media screen and (max-width: 768px) {
    .members{
        display: grid;
        grid-template-columns: 100%;
    }
}

@media screen and (min-width: 992px) {
    .container{
        width: 80%
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 60%
    }
}

@media screen and (min-width: 1500px) {
    .container{
        width: 40%
    }
}